.main-title {
    font-family: 'Bungee Shade', monospace;
    font-weight: 200;
    font-size: 3vw;
    position: absolute;
    flex: 0 1 auto;
	left: 50%;
	cursor: default;
    transform: translateX(-50%);
    @media only screen and (max-width: 450px) {
        font-size: 4.5vw;
    }
}


.logo {
	height: 4vw;
	margin-left: 1%;
}

.user-nav {
	align-self: stretch;
	display: flex;
	align-items: center;
	flex: 0 1 auto;
	margin-left: auto;

	a {
		&:hover {
			div {
				transition: all .5s;
				opacity: 1 !important;
			}
		}
		
	}

	& > * {
		cursor: pointer;
		padding: 0 1.5vw;
		height: 100%;
		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--light-second);
			border-top-right-radius: 5px;
		}
	}

	&__git {
		height: 3vh;
		width: 2.25vw;
	}

	&__attac {
		height: 3vh;
		width: 2.25vw;
	}

	&__linktext {
        margin-top: 2.5rem;
        top: 0.1;
		position: absolute;
		color: var(--grey-second);
		opacity: 0;
		font-size: .7vw;
	}

}

.contact {
	font-size: 1.6rem;
}

.sub-title {
	left: 50%;
	top: 65%;
	position: absolute;
	z-index: 1000;
	font-size: 1.3rem;
	flex: 0 1 auto;
	transform: translateX(-50%);
	cursor: default;
	@media only screen and (max-width: 450px) {
		font-size: 1.3rem;
	}
	@media only screen and (max-width: 320px) {
		font-size: 1rem;
	}
}

///side bar

.side-nav {
	&__item {
		list-style: none;
		font-size: .9vw;
		position: relative;
		padding: 1.5vw;
		display: flex;
		align-items: center;
		align-self: center;

		@media only screen and (max-width: 450px) {
			font-size: 1.5rem;
		}

		&:not(:last-child) {
			margin-bottom: .5%;
		}
	}

	&__link:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: var(--light-first);
		transform: scaleY(0);
		transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
		&:last-child {
			border-bottom-left-radius: 5px;
		}
	}

	&__link:active::before {
		background-color: var(--grey-second);
	}

	&__link:hover::before {
		transform: scaleY(1);
		width: 100%;
	}

	&__link:link,
	&__link:visited {
		color: var(--light-first);
		text-decoration: none;
		padding-left: .5%;
		display: flex;
		align-self: center;
		position: relative;
		align-items: center;
		z-index: 4;

		&:hover {
			color: var(--grey-first);
			label {
				color: white;
			}
		}
	}

	&__icon {
		width: 4vw;
		height: 4vh;
		margin-right: 2%;
	}

	&__new {
		color: inherit;
		position: absolute;
		top: 0;
		margin-left: 8.3vw;
		margin-top: 1rem;
		background-color: #f13232;
		font-size: .75vw;
		padding: 0 4px;
		border-radius: 7px;
		@media only screen and (max-width: 450px) {
			opacity: 0;
		}
	}
}

.selected {
	background-color: var(--light-first);
	font-weight: bolder;
	color: var(--grey-second) !important;
}

//gallery

.newtab {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;

	&__title {
		font-size: 4vw;
		font-family: 'IBM Plex Mono', monospace;
		font-weight: bolder;

		@media only screen and (max-width: 450px) {
			font-size: 5rem;
		}
	}

	&__container {
		background-color: white;
		radius: 5px;
		padding: 5vw;
		margin: 9vh;
		align-self: center;
		margin-top: 5vw;
		font-size: 1.5vw;
		box-shadow: 0 2vw 2.5vw rgba(0, 0, 0, 0.3);

		@media only screen and (max-width: 450px) {
			font-size: 2rem;
			margin: 1rem;
		}
	}

	&__stars {
		background-color: rgb(238, 238, 12);
	}
}

.gallery {
	display: flex;

	&__photo {
		width: 23.2vw;
		height: 31vh;
		display: block;
	}
}

/// rain bow

.rainbow:hover {
	-webkit-animation: rainbow pulsate 1s infinite;
	-ms-animation: rainbow 1s infinite;
	-o-animation: rainbow 1s infinite;
	animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
	0% {
		color: #ee7752;
	}

	33% {
		color: #ff3366;
	}

	66% {
		color: #23a6d5;
	}

	100% {
		color: #30d636;
	}
}

@-ms-keyframes rainbow {
	0% {
		color: #ee7752;
	}

	33% {
		color: #ff3366;
	}

	66% {
		color: #23a6d5;
	}

	100% {
		color: #30d636;
	}
}

@-o-keyframes rainbow {
	0% {
		color: #ee7752;
	}

	33% {
		color: #ff3366;
	}

	66% {
		color: #23a6d5;
	}

	100% {
		color: #30d636;
	}
}

@keyframes rainbow {
	0% {
		color: #ee7752;
	}

	33% {
		color: #ff3366;
	}

	66% {
		color: #23a6d5;
	}

	100% {
		color: #30d636;
	}
}
